<div class="table-container">
  <table>
    <thead class="text-medium text-small">
    <tr>
      <th
        (click)="sortBy(header.id)"
        *ngFor="let header of headers">
        {{header.name}}
      </th>
    </tr>
    </thead>
    <tbody class="text-x-small">
    <tr
      class="record"
      [ngClass]="{'starred': isRecordStarred(advertisement)}"
      (click)="starRecord(advertisement)"
      *ngFor="let advertisement of advertisements; index as i">
      <td class="text-medium">{{advertisement.id | persianNumber}}</td>
      <td>{{advertisement.name}}</td>
      <td>{{advertisement.date}}</td>
      <td>{{advertisement.title}}</td>
      <td>{{advertisement.field}}</td>
      <td>{{advertisement.old_value}}</td>
      <td>{{advertisement.new_value}}</td>
    </tr>
    </tbody>
  </table>
</div>

