.table-container {
  margin: var(--spacing-s);
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  height: var(--spacing-xl);
  text-align: right;
  padding: var(--spacing-xs);
  border: 1px solid;
}

th {
  border-color: var(--lipstick);
  background: var(--lipstick);
  color: var(--monocolor);
  cursor: pointer;
  transition: all 0.5s;
}

th:hover {
  border-color: var(--dark-lipstick);
  background: var(--dark-lipstick);
}

td {
  border-color: var(--very-light-pink);
}

.record {
  cursor: pointer;
  transition: all 0.5s;
}

.record.starred, .record:hover {
  background: var(--very-light-pink);
}
