<form
  [formGroup]="filterForm"
  (ngSubmit)="submit()"
  class="filter-form text-small">
  <input
    autofocus
    [tabIndex]="1"
    [placeholder]="'نام تغییردهنده'"
    [formControlName]="'name'"
    [type]="'text'"/>
  <input
    [tabIndex]="2"
    [placeholder]="'تاریخ'"
    [formControlName]="'date'"
    [type]="'date'"/>
  <input
    [tabIndex]="3"
    [placeholder]="'نام آگهی'"
    [formControlName]="'title'"
    [type]="'text'"/>
  <input
    [tabIndex]="3"
    [placeholder]="'فیلد'"
    [formControlName]="'field'"
    [type]="'text'"/>
  <button
    class="filter-button"
    [ngClass]="{'disabled': filterForm.invalid}"
    [type]="'submit'"
    [disabled]="filterForm.invalid">
    فیلتر
  </button>
</form>
