/* You can add global styles to this file, and also import other style files */

:root {
  --monocolor: #ffffff;
  --lipstick: #a4282a;
  --dark-lipstick: #852425;
  --white: #f9f9f9;
  --very-light-pink: #f1f1f1;
  --very-light-pink-two: #bbbbbb;
  --brown-grey: #858585;
  --greyish-brown: #3c3c3c;
  --black: #1b1b1b;
  --black-two: #000000;
}

:root {
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-s: 1rem;
  --spacing-m: 1.5rem;
  --spacing-l: 2rem;
  --spacing-xl: 3rem;
  --spacing-xxl: 3.5rem;
  --spacing-xxxl: 4rem;
}

:root {
  box-sizing: border-box !important;
}

#root {
  touch-action: manipulation;
}

* {
  overscroll-behavior-x: none;
  -webkit-overflow-scrolling: touch;
  font-family: shabnam, sans-serif !important;
  outline: none !important;
}

*, ::before, ::after {
  box-sizing: inherit;
}

html {
  -webkit-tap-highlight-color: transparent;
  width: 100vw;
  overflow: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: var(--monocolor);
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

::-webkit-scrollbar {
  display: none !important;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-justify {
  text-align: justify;
}

.text-xx-small {
  font-size: 0.625rem;
  line-height: 1rem;
}

.text-x-small {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-small {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-normal {
  font-size: 1rem;
  line-height: 1.25rem;
}

.text-large {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.text-x-large {
  font-size: 2rem;
  line-height: 3rem;
}

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: normal;
}

.text-medium {
  font-weight: bold;
}
