/* You can add global styles to this file, and also import other style files */
:root {
  --text-darker: #1D1D1D;
  --background-dark: #F8D9D1;
  --zib-light-main: rgba(219, 113, 123, 0.2);
  --zib-dark-dark: #d7656e;
  --zib-dark-main: #db717b;
}

:root {
  --faded-red: #D04F56;
  --blush-pink: #ff9193;
  --pale: #fae0d8;
  --monocolor: #ffffff;
  --lipstick: #cc304b;
  --dark-mint-green: #20c676;
  --white: #f9f9f9;
  --very-light-pink: #f1f1f1;
  --very-light-pink-two: #bbbbbb;
  --brown-grey: #858585;
  --greyish-brown: #3c3c3c;
  --black: #1b1b1b;
  --black-two: #000000;
}

:root {
  --spacing-xxs: 0.4rem;
  --spacing-xs: 0.8rem;
  --spacing-s: 1.6rem;
  --spacing-m: 3.2rem;
  --spacing-xl: 6.4rem;
  --spacing-xxl: 7.2rem;
  --spacing-xxxl: 9.6rem;
}

:root {
  box-sizing: border-box !important;
  --radius: 1rem;
}

#root {
  touch-action: manipulation;
}

* {
  overscroll-behavior-x: none;
  -webkit-overflow-scrolling: touch;
  font-family: dana, sans-serif !important;
  outline: none !important;
}

*, ::before, ::after {
  box-sizing: inherit;
}

html {
  -webkit-tap-highlight-color: transparent;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  user-select: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: var(--monocolor);
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

::-webkit-scrollbar {
  display: none !important;
}

.has-margin {
  margin: var(--spacing-xm);
}

.has-padding {
  padding: var(--spacing-xm);
}

.has-border-radius {
  border-radius: var(--radius) !important;
}

.page-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--pale);
}

.page-container > * {
  width: 100%;
}

.toast-container.toast-top-full-width {
  top: var(--spacing-xs);
  font-size: 1.4rem;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-justify {
  text-align: justify;
}

.text-xx-small {
  font-size: 1rem;
  line-height: var(--spacing-xm);
}

.text-x-small {
  font-size: 1.2rem !important;
  line-height: var(--spacing-xm) !important;
}

.text-small {
  font-size: 1.4rem !important;
  line-height: 2.0rem !important;
}

.text-normal {
  font-size: var(--spacing-s) !important;
  line-height: var(--spacing-xm) !important;
}

.text-large {
  font-size: 2rem;
  line-height: var(--spacing-xm);
}

.text-x-large {
  font-size: 1.8rem;
  line-height: 4rem;
}

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: normal !important;
}

.text-medium {
  font-weight: 500;
}

.text-black-two {
  color: var(--black-two) !important;
}

.background-white {
  background-color: var(--monocolor);
}

.text-black {
  color: var(--black) !important;
}

.text-darker {
  color: var(--text-darker);
}

.text-greyish-brown {
  color: var(--greyish-brown) !important;
}

.text-brown-grey {
  color: var(--brown-grey);
}

.text-gray-light {
  color: var(--very-light-pink-two) !important;
}

.background-main {
  background-color: var(--pale) !important;
}
